[Unit]
Description=Road Crash Dash
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/ubuntu/app.py -f /home/ubuntu/crash_data.csv
[Install]
WantedBy=multi-user.target
